@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@mixin movieCardTemplate($url) {
    height: 280px;
    width: 200px;
    background: url($url) no-repeat;
    background-size: contain;
    padding-right: 10px;
}
html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #c032f0;
}
main {
    background-image: url("../img/bg-light.png");
    flex: 1 1 auto;
    display: flex;
    position: relative;
    flex-direction: row;
    aside {
        height: 100%;
        position: absolute;
        background-color: white;
        width: 200px;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            font-size: 20pt;
            padding: 1rem 1rem 1rem 0rem;
            li {
                text-align: center;
                padding-top: 2rem;
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: #c032f0;
                    }
                }
            }
        }
    }
    .startContainer {        
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        div {
            margin-bottom: 1rem;
        }
        #enterBtn {
            height: 3rem;
            width: 8rem;
            font-size: larger;
            border-radius: 5px;
        }
    }
    .movieContainer {
        display: none;
        background-color: white;
        border: 1px solid #c032f0;
        width: 75%;
        h2 {
            margin: 0;
        }
        .bar {
            background-color: #c6fa74;
            border-bottom: 1px solid #c032f0;
            padding: 2ex;
        }
        .movies {
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 1rem;
            #cardA {
                @include movieCardTemplate("../img/peli1.jpeg");
            }
            #cardB {
                @include movieCardTemplate("../img/peli2.jpeg");
            }
            #cardC {
                @include movieCardTemplate("../img/peli3.jpeg");
            }
            #cardD {
                @include movieCardTemplate("../img/peli4.jpeg");
            }
            /*Section 2*/
            #cardE {
                @include movieCardTemplate("../img/anima1.jpeg");
            }
            #cardF {
                @include movieCardTemplate("../img/anima2.jpeg");
            }
            #cardG {
                @include movieCardTemplate("../img/anima3.jpeg");
            }
            #cardH {
                @include movieCardTemplate("../img/anima4.jpeg");
            }
            /*Section 3*/
            #cardI {
                @include movieCardTemplate("../img/potter1.jpeg");
            }
            #cardJ {
                @include movieCardTemplate("../img/potter2.jpeg");
            }
            #cardK {
                @include movieCardTemplate("../img/potter3.jpeg");
            }
            #cardL {
                @include movieCardTemplate("../img/potter4.jpeg");
            }
        }
        #secB,
        #secC {
            .bar {
                border-top: #c032f0 solid 1px;
                border-bottom: #c032f0 solid 1px;
            }
            .movies {
            }
        }
    }
}
