@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #c032f0;
}

main {
  background-image: url("../img/bg-light.png");
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-direction: row;
}

main aside {
  height: 100%;
  position: absolute;
  background-color: white;
  width: 200px;
}

main aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  font-size: 20pt;
  padding: 1rem 1rem 1rem 0rem;
}

main aside ul li {
  text-align: center;
  padding-top: 2rem;
}

main aside ul li a {
  text-decoration: none;
  color: black;
}

main aside ul li a:hover {
  color: #c032f0;
}

main .startContainer {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main .startContainer div {
  margin-bottom: 1rem;
}

main .startContainer #enterBtn {
  height: 3rem;
  width: 8rem;
  font-size: larger;
  border-radius: 5px;
}

main .movieContainer {
  display: none;
  background-color: white;
  border: 1px solid #c032f0;
  width: 75%;
}

main .movieContainer h2 {
  margin: 0;
}

main .movieContainer .bar {
  background-color: #c6fa74;
  border-bottom: 1px solid #c032f0;
  padding: 2ex;
}

main .movieContainer .movies {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  /*Section 2*/
  /*Section 3*/
}

main .movieContainer .movies #cardA {
  height: 280px;
  width: 200px;
  background: url("../img/peli1.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardB {
  height: 280px;
  width: 200px;
  background: url("../img/peli2.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardC {
  height: 280px;
  width: 200px;
  background: url("../img/peli3.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardD {
  height: 280px;
  width: 200px;
  background: url("../img/peli4.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardE {
  height: 280px;
  width: 200px;
  background: url("../img/anima1.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardF {
  height: 280px;
  width: 200px;
  background: url("../img/anima2.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardG {
  height: 280px;
  width: 200px;
  background: url("../img/anima3.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardH {
  height: 280px;
  width: 200px;
  background: url("../img/anima4.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardI {
  height: 280px;
  width: 200px;
  background: url("../img/potter1.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardJ {
  height: 280px;
  width: 200px;
  background: url("../img/potter2.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardK {
  height: 280px;
  width: 200px;
  background: url("../img/potter3.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardL {
  height: 280px;
  width: 200px;
  background: url("../img/potter4.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer #secB .bar,
main .movieContainer #secC .bar {
  border-top: #c032f0 solid 1px;
  border-bottom: #c032f0 solid 1px;
}
