@import url(./_colors.scss);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
.bodyDark {
  background-color: #222222;
  border-color: #4D4DFF;
  color: #FFFFFF;
}

.bodyDark header {
  border-color: #4D4DFF;
}

.bodyDark header #dMenu svg rect {
  fill: #4D4DFF;
}

.bodyDark header #sliderContainer {
  background-color: white;
}

.bodyDark header #sliderContainer #slider {
  background-color: #4D4DFF;
}

.bodyDark main {
  background-image: url("../img/bg-dark.png");
}

.bodyDark main aside {
  background-color: #222222;
  border-color: #4D4DFF;
  color: #FFFFFF;
}

.bodyDark main aside ul a {
  color: #FFFFFF;
}

.bodyDark main aside ul a:hover {
  color: #4D4DFF;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #FAF9F6;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #c032f0;
}

header h1 {
  font-weight: 900;
}

header #dMenu {
  margin-left: 1rem;
}

header #dMenu svg {
  transform: scale(0.6);
  position: relative;
  top: 15px;
}

header #dMenu svg rect {
  fill: #c032f0;
}

header #sliderContainer {
  margin-right: 1rem;
  position: relative;
  top: 30px;
  width: 48px;
  height: 24px;
  border-radius: 5px;
  background-color: #222222;
}

header #sliderContainer #slider {
  position: relative;
  margin-top: 1px;
  margin-left: 1px;
  height: 19px;
  width: 19px;
  background-color: #c032f0;
  border: 1px solid #FAF9F6;
  border-radius: 5px;
  transition: all 1s ease;
}

main {
  background-image: url("../img/bg-light.png");
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-direction: row;
}

main aside {
  transform: translateX(-100%);
  height: 100%;
  position: absolute;
  background-color: #FAF9F6;
  width: 200px;
  border: solid 1px #c032f0;
}

main aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  font-size: 20pt;
  padding: 1rem 1rem 1rem 0rem;
}

main aside ul li {
  text-align: center;
  padding-top: 2rem;
}

main aside ul li a {
  text-decoration: none;
  color: black;
}

main aside ul li a:hover {
  color: #c032f0;
}

main .startContainer {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main .startContainer div {
  margin-bottom: 1rem;
}

main .startContainer #enterBtn {
  height: 2.5rem;
  width: 8rem;
  font-size: larger;
  border-radius: 8px;
}

main .startContainer #enterBtn:disabled {
  background-color: #FAF9F6;
}

main .startContainer label {
  user-select: none;
}

main .movieContainer {
  display: none;
  background-color: #FAF9F6;
  border: 1px solid #c032f0;
  width: 75%;
}

main .movieContainer h2 {
  margin: 0;
  font-weight: 900;
}

main .movieContainer .bar {
  background-color: #c6fa74;
  border-bottom: 1px solid #c032f0;
  padding: 2ex;
}

main .movieContainer .movies {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  /*Section 2*/
  /*Section 3*/
}

main .movieContainer .movies #cardA {
  height: 280px;
  width: 200px;
  background: url("../img/peli1.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardB {
  height: 280px;
  width: 200px;
  background: url("../img/peli2.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardC {
  height: 280px;
  width: 200px;
  background: url("../img/peli3.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardD {
  height: 280px;
  width: 200px;
  background: url("../img/peli4.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardE {
  height: 280px;
  width: 200px;
  background: url("../img/anima1.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardF {
  height: 280px;
  width: 200px;
  background: url("../img/anima2.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardG {
  height: 280px;
  width: 200px;
  background: url("../img/anima3.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardH {
  height: 280px;
  width: 200px;
  background: url("../img/anima4.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardI {
  height: 280px;
  width: 200px;
  background: url("../img/potter1.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardJ {
  height: 280px;
  width: 200px;
  background: url("../img/potter2.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardK {
  height: 280px;
  width: 200px;
  background: url("../img/potter3.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer .movies #cardL {
  height: 280px;
  width: 200px;
  background: url("../img/potter4.jpeg") no-repeat;
  background-size: contain;
  padding-right: 10px;
}

main .movieContainer #secB .bar,
main .movieContainer #secC .bar {
  border-top: #c032f0 solid 1px;
  border-bottom: #c032f0 solid 1px;
}

.darkModeOn {
  animation: darkModeOn 0.3s forwards;
}

.lightModeOn {
  animation: lightModeOn 0.3s forwards;
}

@keyframes darkModeOn
01.22222222 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
  }
}

@keyframes lightModeOn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}

.openMenu {
  animation: openMenu 0.3s forwards;
}

.closeMenu {
  animation: closeMenu 0.3s forwards;
}

@keyframes closeMenu {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes openMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
